# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space
indent_size = 4

[*.cs]

# IDE0018: Inline variable declaration
csharp_style_inlined_variable_declaration = false:suggestion
