{{classModifier}} class {{contextName}}Factory : IDesignTimeDbContextFactory<{{contextName}}>{{#newline}}
{{{#newline}}
    private readonly DbContextOptions<{{contextName}}>? Options;{{#newline}}
{{#newline}}
    public {{contextName}}Factory(){{#newline}}
    {{{#newline}}
        Options = null;{{#newline}}
    }{{#newline}}
{{#newline}}
    public {{contextName}}Factory(DbContextOptions<{{contextName}}> options){{#newline}}
    {{{#newline}}
        Options = options;{{#newline}}
    }{{#newline}}
{{#newline}}
    public {{contextName}} CreateDbContext(string[] args){{#newline}}
    {{{#newline}}
        return new {{contextName}}();{{#newline}}
    }{{#newline}}
{{#newline}}
    public {{contextName}} CreateDbContext(){{#newline}}
    {{{#newline}}
        return Options != null ? new {{contextName}}(Options) : new {{contextName}}();{{#newline}}
    }{{#newline}}
{{#newline}}
    public {{contextName}} CreateDbContext(DbContextOptions<{{contextName}}> options){{#newline}}
    {{{#newline}}
        return options == null{{#newline}}
            ? new {{contextName}}(){{#newline}}
            : new {{contextName}}(options);{{#newline}}
    }{{#newline}}
}