// ************************************************************************{{#newline}}
// Fake DbSet{{#newline}}
// Implementing Find:{{#newline}}
//      The Find method is difficult to implement in a generic fashion. If{{#newline}}
//      you need to test code that makes use of the Find method it is{{#newline}}
//      easiest to create a test DbSet for each of the entity types that{{#newline}}
//      need to support find. You can then write logic to find that{{#newline}}
//      particular type of entity, as shown below:{{#newline}}
//      public class FakeBlogDbSet : FakeDbSet<Blog>{{#newline}}
//      {{{#newline}}
//          public override Blog Find(params object[] keyValues){{#newline}}
//          {{{#newline}}
//              var id = (int) keyValues.Single();{{#newline}}
//              return this.SingleOrDefault(b => b.BlogId == id);{{#newline}}
//          }{{#newline}}
//      }{{#newline}}
//      Read more about it here: https://msdn.microsoft.com/en-us/data/dn314431.aspx{{#newline}}
{{DbContextClassModifiers}} class FakeDbSet<TEntity> :{{#newline}}
    DbSet<TEntity>,{{#newline}}
    IQueryable<TEntity>,{{#newline}}
    IAsyncEnumerable<TEntity>,{{#newline}}
    IListSource,{{#newline}}
    IResettableService{{#newline}}
    where TEntity : class{{#newline}}
{{{#newline}}
    private readonly PropertyInfo[] _primaryKeys;{{#newline}}
    private ObservableCollection<TEntity> _data;{{#newline}}
    private IQueryable _query;{{#newline}}
    private IEntityType? _entityType = null;{{#newline}}
    public override IEntityType EntityType{{#newline}}
    {{{#newline}}
        get{{#newline}}
        {{{#newline}}
            if (_entityType == null){{#newline}}
                throw new NotImplementedException("EntityType is not implemented for FakeDbSet.");{{#newline}}
            return _entityType;{{#newline}}
        }{{#newline}}
    }{{#newline}}{{#newline}}

    public FakeDbSet(){{#newline}}
    {{{#newline}}
        _primaryKeys = Array.Empty<PropertyInfo>();{{#newline}}
        _data        = new ObservableCollection<TEntity>();{{#newline}}
        _query       = _data.AsQueryable();{{#newline}}

{{#if DbContextClassIsPartial}}
        InitializePartial();{{#newline}}
{{/if}}
    }{{#newline}}{{#newline}}

    public FakeDbSet(params string[] primaryKeys){{#newline}}
    {{{#newline}}
        _primaryKeys = typeof(TEntity).GetProperties().Where(x => primaryKeys.Contains(x.Name)).ToArray();{{#newline}}
        _data        = new ObservableCollection<TEntity>();{{#newline}}
        _query       = _data.AsQueryable();{{#newline}}
{{#if DbContextClassIsPartial}}
        InitializePartial();{{#newline}}
{{/if}}
    }{{#newline}}{{#newline}}

    public override TEntity? Find(params object?[]? keyValues){{#newline}}
    {{{#newline}}
        if (_primaryKeys == null){{#newline}}
            throw new ArgumentException("No primary keys defined");{{#newline}}
        if (keyValues?.Length != _primaryKeys.Length){{#newline}}
            throw new ArgumentException("Incorrect number of keys passed to Find method");{{#newline}}{{#newline}}

        var keyQuery = this.AsQueryable();{{#newline}}
        keyQuery = keyValues{{#newline}}
            .Select((t, i) => i){{#newline}}
            .Aggregate(keyQuery,{{#newline}}
                (current, x) =>{{#newline}}
                    current.Where(entity => _primaryKeys[x].GetValue(entity, null)!.Equals(keyValues[x])));{{#newline}}{{#newline}}

        return keyQuery.SingleOrDefault();{{#newline}}
    }{{#newline}}{{#newline}}

    public override ValueTask<TEntity?> FindAsync(object?[]? keyValues, CancellationToken cancellationToken){{#newline}}
    {{{#newline}}
        return new ValueTask<TEntity?>(Task<TEntity?>.Factory.StartNew(() => Find(keyValues), cancellationToken));{{#newline}}
    }{{#newline}}{{#newline}}

    public override ValueTask<TEntity?> FindAsync(params object?[]? keyValues){{#newline}}
    {{{#newline}}
        return new ValueTask<TEntity?>(Task<TEntity?>.Factory.StartNew(() => Find(keyValues)));{{#newline}}
    }{{#newline}}{{#newline}}

    public override EntityEntry<TEntity> Add(TEntity entity){{#newline}}
    {{{#newline}}
        _data.Add(entity);{{#newline}}
        return null!;{{#newline}}
    }{{#newline}}{{#newline}}

    public override ValueTask<EntityEntry<TEntity>> AddAsync(TEntity entity, CancellationToken cancellationToken = default){{#newline}}
    {{{#newline}}
        return new ValueTask<EntityEntry<TEntity>>(Task<EntityEntry<TEntity>>.Factory.StartNew(() => Add(entity), cancellationToken));{{#newline}}
    }{{#newline}}{{#newline}}

    public override void AddRange(params TEntity[] entities){{#newline}}
    {{{#newline}}
        if (entities == null) throw new ArgumentNullException("entities");{{#newline}}
        foreach (var entity in entities){{#newline}}
            _data.Add(entity);{{#newline}}
    }{{#newline}}{{#newline}}

    public override void AddRange(IEnumerable<TEntity> entities){{#newline}}
    {{{#newline}}
        if (entities == null) throw new ArgumentNullException("entities");{{#newline}}
        foreach (var entity in entities){{#newline}}
            _data.Add(entity);{{#newline}}
    }{{#newline}}{{#newline}}

    public override Task AddRangeAsync(params TEntity[] entities){{#newline}}
    {{{#newline}}
        if (entities == null) throw new ArgumentNullException("entities");{{#newline}}
        return Task.Factory.StartNew(() => AddRange(entities));{{#newline}}
    }{{#newline}}{{#newline}}

    public override Task AddRangeAsync(IEnumerable<TEntity> entities, CancellationToken cancellationToken = default){{#newline}}
    {{{#newline}}
        if (entities == null) throw new ArgumentNullException("entities");{{#newline}}
        return Task.Factory.StartNew(() => AddRange(entities), cancellationToken);{{#newline}}
    }{{#newline}}{{#newline}}

    public override EntityEntry<TEntity> Attach(TEntity entity){{#newline}}
    {{{#newline}}
        if (entity == null) throw new ArgumentNullException("entity");{{#newline}}
        return Add(entity)!;{{#newline}}
    }{{#newline}}{{#newline}}

    public override void AttachRange(params TEntity[] entities){{#newline}}
    {{{#newline}}
        if (entities == null) throw new ArgumentNullException("entities");{{#newline}}
        AddRange(entities);{{#newline}}
    }{{#newline}}{{#newline}}

    public override void AttachRange(IEnumerable<TEntity> entities){{#newline}}
    {{{#newline}}
        if (entities == null) throw new ArgumentNullException("entities");{{#newline}}
        AddRange(entities);{{#newline}}
    }{{#newline}}{{#newline}}

    public override EntityEntry<TEntity> Remove(TEntity entity){{#newline}}
    {{{#newline}}
        _data.Remove(entity);{{#newline}}
        return null!;{{#newline}}
    }{{#newline}}{{#newline}}

    public override void RemoveRange(params TEntity[] entities){{#newline}}
    {{{#newline}}
        if (entities == null) throw new ArgumentNullException("entities");{{#newline}}
        foreach (var entity in entities.ToList()){{#newline}}
            _data.Remove(entity);{{#newline}}
    }{{#newline}}{{#newline}}

    public override void RemoveRange(IEnumerable<TEntity> entities){{#newline}}
    {{{#newline}}
        RemoveRange(entities.ToArray());{{#newline}}
    }{{#newline}}{{#newline}}

    public override EntityEntry<TEntity> Update(TEntity entity){{#newline}}
    {{{#newline}}
        _data.Remove(entity);{{#newline}}
        _data.Add(entity);{{#newline}}
        return null!;{{#newline}}
    }{{#newline}}{{#newline}}

    public override void UpdateRange(params TEntity[] entities){{#newline}}
    {{{#newline}}
        if (entities == null) throw new ArgumentNullException("entities");{{#newline}}
        RemoveRange(entities);{{#newline}}
        AddRange(entities);{{#newline}}
    }{{#newline}}{{#newline}}

    public override void UpdateRange(IEnumerable<TEntity> entities){{#newline}}
    {{{#newline}}
        if (entities == null) throw new ArgumentNullException("entities");{{#newline}}
        var array = entities.ToArray();
        RemoveRange(array);{{#newline}}
        AddRange(array);{{#newline}}
    }{{#newline}}{{#newline}}

    bool IListSource.ContainsListCollection => true;{{#newline}}{{#newline}}

    public IList GetList(){{#newline}}
    {{{#newline}}
        return _data;{{#newline}}
    }{{#newline}}{{#newline}}

    IList IListSource.GetList(){{#newline}}
    {{{#newline}}
        return _data;{{#newline}}
    }{{#newline}}{{#newline}}

    Type IQueryable.ElementType{{#newline}}
    {{{#newline}}
        get { return _query.ElementType; }{{#newline}}
    }{{#newline}}{{#newline}}

    Expression IQueryable.Expression{{#newline}}
    {{{#newline}}
        get { return _query.Expression; }{{#newline}}
    }{{#newline}}{{#newline}}

    IQueryProvider IQueryable.Provider{{#newline}}
    {{{#newline}}
        get { return new FakeDbAsyncQueryProvider<TEntity>(_data); }{{#newline}}
    }{{#newline}}{{#newline}}

    IEnumerator IEnumerable.GetEnumerator(){{#newline}}
    {{{#newline}}
        return _data.GetEnumerator();{{#newline}}
    }{{#newline}}{{#newline}}

    IEnumerator<TEntity> IEnumerable<TEntity>.GetEnumerator(){{#newline}}
    {{{#newline}}
        return _data.GetEnumerator();{{#newline}}
    }{{#newline}}{{#newline}}

    public override IAsyncEnumerator<TEntity> GetAsyncEnumerator(CancellationToken cancellationToken = default){{#newline}}
    {{{#newline}}
        return new FakeDbAsyncEnumerator<TEntity>(this.AsEnumerable().GetEnumerator());{{#newline}}
    }{{#newline}}{{#newline}}

    public void ResetState(){{#newline}}
    {{{#newline}}
        _data  = new ObservableCollection<TEntity>();{{#newline}}
        _query = _data.AsQueryable();{{#newline}}
    }{{#newline}}{{#newline}}

    public Task ResetStateAsync(CancellationToken cancellationToken = new CancellationToken()){{#newline}}
    {{{#newline}}
        return Task.Factory.StartNew(() => ResetState());{{#newline}}
    }{{#newline}}

{{#if DbContextClassIsPartial}}
{{#newline}}
    partial void InitializePartial();{{#newline}}
{{/if}}
}{{#newline}}{{#newline}}


{{DbContextClassModifiers}} class FakeDbAsyncQueryProvider<TEntity> : FakeQueryProvider<TEntity>, IAsyncEnumerable<TEntity>, IAsyncQueryProvider{{#newline}}
{{{#newline}}
    public FakeDbAsyncQueryProvider(Expression expression) : base(expression){{#newline}}
    {{{#newline}}
    }{{#newline}}{{#newline}}

    public FakeDbAsyncQueryProvider(IEnumerable<TEntity> enumerable) : base(enumerable){{#newline}}
    {{{#newline}}
    }{{#newline}}{{#newline}}

    public TResult ExecuteAsync<TResult>(Expression expression, CancellationToken cancellationToken){{#newline}}
    {{{#newline}}
        var expectedResultType = typeof(TResult).GetGenericArguments()[0];{{#newline}}
        var executionResult = typeof(IQueryProvider){{#newline}}
            .GetMethods(){{#newline}}
            .First(method => method.Name == nameof(IQueryProvider.Execute) && method.IsGenericMethod){{#newline}}
            .MakeGenericMethod(expectedResultType){{#newline}}
            .Invoke(this, new object[] { expression });{{#newline}}{{#newline}}

        return (TResult) (typeof(Task).GetMethod(nameof(Task.FromResult)){{#newline}}
            ?.MakeGenericMethod(expectedResultType){{#newline}}
            .Invoke(null, new[] { executionResult }))!;{{#newline}}
    }{{#newline}}{{#newline}}

    public IAsyncEnumerator<TEntity> GetAsyncEnumerator(CancellationToken cancellationToken = default){{#newline}}
    {{{#newline}}
        return new FakeDbAsyncEnumerator<TEntity>(this.AsEnumerable().GetEnumerator());{{#newline}}
    }{{#newline}}
}{{#newline}}{{#newline}}


{{DbContextClassModifiers}} class FakeDbAsyncEnumerable<T> : EnumerableQuery<T>, IAsyncEnumerable<T>, IQueryable<T>{{#newline}}
{{{#newline}}
    public FakeDbAsyncEnumerable(IEnumerable<T> enumerable){{#newline}}
        : base(enumerable){{#newline}}
    {{{#newline}}
    }{{#newline}}{{#newline}}

    public FakeDbAsyncEnumerable(Expression expression){{#newline}}
        : base(expression){{#newline}}
    {{{#newline}}
    }{{#newline}}{{#newline}}

    public IAsyncEnumerator<T> GetAsyncEnumerator(CancellationToken cancellationToken = new CancellationToken()){{#newline}}
    {{{#newline}}
        return new FakeDbAsyncEnumerator<T>(this.AsEnumerable().GetEnumerator());{{#newline}}
    }{{#newline}}{{#newline}}

    IAsyncEnumerator<T> IAsyncEnumerable<T>.GetAsyncEnumerator(CancellationToken cancellationToken){{#newline}}
    {{{#newline}}
        return GetAsyncEnumerator(cancellationToken);{{#newline}}
    }{{#newline}}{{#newline}}

    IEnumerator IEnumerable.GetEnumerator(){{#newline}}
    {{{#newline}}
        return this.AsEnumerable().GetEnumerator();{{#newline}}
    }{{#newline}}
}{{#newline}}{{#newline}}


{{DbContextClassModifiers}} class FakeDbAsyncEnumerator<T> : IAsyncEnumerator<T>{{#newline}}
{{{#newline}}
    private readonly IEnumerator<T> _inner;{{#newline}}{{#newline}}

    public FakeDbAsyncEnumerator(IEnumerator<T> inner){{#newline}}
    {{{#newline}}
        _inner = inner;{{#newline}}
    }{{#newline}}{{#newline}}

    public T Current{{#newline}}
    {{{#newline}}
        get { return _inner.Current; }{{#newline}}
    }{{#newline}}{{#newline}}

    public ValueTask<bool> MoveNextAsync(){{#newline}}
    {{{#newline}}
        return new ValueTask<bool>(_inner.MoveNext());{{#newline}}
    }{{#newline}}{{#newline}}

    public ValueTask DisposeAsync(){{#newline}}
    {{{#newline}}
        _inner.Dispose();{{#newline}}
        return new ValueTask(Task.CompletedTask);{{#newline}}
    }{{#newline}}
}{{#newline}}{{#newline}}


public abstract class FakeQueryProvider<T> : IOrderedQueryable<T>, IQueryProvider{{#newline}}
{{{#newline}}
    private IEnumerable<T>? _enumerable;{{#newline}}{{#newline}}

    protected FakeQueryProvider(Expression expression){{#newline}}
    {{{#newline}}
        Expression = expression;{{#newline}}
    }{{#newline}}{{#newline}}

    protected FakeQueryProvider(IEnumerable<T> enumerable){{#newline}}
    {{{#newline}}
        _enumerable = enumerable;{{#newline}}
        Expression = enumerable.AsQueryable().Expression;{{#newline}}
    }{{#newline}}{{#newline}}

    public IQueryable CreateQuery(Expression expression){{#newline}}
    {{{#newline}}
        if (expression is MethodCallExpression m){{#newline}}
        {{{#newline}}
            var resultType = m.Method.ReturnType; // it should be IQueryable<T>{{#newline}}
            var tElement = resultType.GetGenericArguments().First();{{#newline}}
            return (IQueryable) CreateInstance(tElement, expression);{{#newline}}
        }{{#newline}}{{#newline}}

        return CreateQuery<T>(expression);{{#newline}}
    }{{#newline}}{{#newline}}

    public IQueryable<TEntity> CreateQuery<TEntity>(Expression expression){{#newline}}
    {{{#newline}}
        return (IQueryable<TEntity>) CreateInstance(typeof(TEntity), expression);{{#newline}}
    }{{#newline}}{{#newline}}

    private object CreateInstance(Type tElement, Expression expression){{#newline}}
    {{{#newline}}
        var queryType = GetType().GetGenericTypeDefinition().MakeGenericType(tElement);{{#newline}}
        return Activator.CreateInstance(queryType, expression)!;{{#newline}}
    }{{#newline}}{{#newline}}

    public object Execute(Expression expression){{#newline}}
    {{{#newline}}
        return CompileExpressionItem<object>(expression);{{#newline}}
    }{{#newline}}{{#newline}}

    public TResult Execute<TResult>(Expression expression){{#newline}}
    {{{#newline}}
        return CompileExpressionItem<TResult>(expression);{{#newline}}
    }{{#newline}}{{#newline}}

    IEnumerator<T> IEnumerable<T>.GetEnumerator(){{#newline}}
    {{{#newline}}
        if (_enumerable == null) _enumerable = CompileExpressionItem<IEnumerable<T>>(Expression);{{#newline}}
        return _enumerable.GetEnumerator();{{#newline}}
    }{{#newline}}{{#newline}}

    IEnumerator IEnumerable.GetEnumerator(){{#newline}}
    {{{#newline}}
        if (_enumerable == null) _enumerable = CompileExpressionItem<IEnumerable<T>>(Expression);{{#newline}}
        return _enumerable.GetEnumerator();{{#newline}}
    }{{#newline}}{{#newline}}

    public Type ElementType => typeof(T);{{#newline}}{{#newline}}

    public Expression Expression { get; }{{#newline}}{{#newline}}

    public IQueryProvider Provider => this;{{#newline}}{{#newline}}

    private static TResult CompileExpressionItem<TResult>(Expression expression){{#newline}}
    {{{#newline}}
        var visitor = new FakeExpressionVisitor();{{#newline}}
        var body = visitor.Visit(expression);{{#newline}}
        var f = Expression.Lambda<Func<TResult>>(body ?? throw new InvalidOperationException(string.Format("{0} is null", nameof(body))), (IEnumerable<ParameterExpression>?) null);{{#newline}}
        return f.Compile()();{{#newline}}
    }{{#newline}}
}{{#newline}}{{#newline}}


{{DbContextClassModifiers}} class FakeExpressionVisitor : ExpressionVisitor{{#newline}}
{{{#newline}}
}{{#newline}}{{#newline}}

// An inert DbContext with no provider and no connection string.{{#newline}}
//      DatabaseFacade's constructor demands a DbContext, and this is the one the fake hands it. Earlier versions{{#newline}}
//      passed a real, fully configured context here, which meant anything that slipped past the guards in{{#newline}}
//      FakeDatabaseFacade below executed against the real database your connection string points at. This one has{{#newline}}
//      nowhere to go: with no provider configured, the worst any missed route can do is throw.{{#newline}}
public class FakeDbContextShim : DbContext{{#newline}}
{{{#newline}}
    public FakeDbContextShim() : base(new DbContextOptions<FakeDbContextShim>()){{#newline}}
    {{{#newline}}
    }{{#newline}}{{#newline}}

    protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder){{#newline}}
    {{{#newline}}
        // Deliberately empty. Configuring a provider here would defeat the point of the shim.{{#newline}}
    }{{#newline}}
}{{#newline}}{{#newline}}

// Note on what this fake can and cannot intercept:{{#newline}}
//      EF Core exposes ExecuteSqlRaw(), ExecuteSqlInterpolated(), SqlQueryRaw(), GetDbConnection(),{{#newline}}
//      OpenConnection(), Migrate(), UseTransaction() and friends as extension methods on DatabaseFacade{{#newline}}
//      (RelationalDatabaseFacadeExtensions). Extension methods are static, so they are not virtual and this{{#newline}}
//      fake cannot override them one by one. They reach the database by one of three routes:{{#newline}}
//          1. IDatabaseFacadeDependenciesAccessor.Dependencies - ExecuteSqlRaw, SqlQueryRaw, GetDbConnection,{{#newline}}
//             OpenConnection, UseTransaction, Get/SetCommandTimeout, IsRelational, ...{{#newline}}
//          2. IInfrastructure<IServiceProvider>.Instance - Migrate, GetPendingMigrations, GetAppliedMigrations,{{#newline}}
//             GenerateCreateScript, HasPendingModelChanges, ...{{#newline}}
//          3. IDatabaseFacadeDependenciesAccessor.Context, then that DbContext's own service provider -{{#newline}}
//             IsRelational, GetService<T>, ...{{#newline}}
//      All three throw below, and the DbContext handed to the base constructor is an inert FakeDbContextShim{{#newline}}
//      with no provider, so a route we have not thought of cannot reach a database either.{{#newline}}
//      Note that IsRelational() and Get/SetCommandTimeout() therefore throw as well, even though they issue no{{#newline}}
//      SQL themselves. Returning a value for them would mean implementing IDatabaseFacadeDependencies in full -{{#newline}}
//      eleven members of EF Core internals that change between releases, which would break this generated file{{#newline}}
//      every time you upgraded EF Core. Throwing with an explanation is the honest trade.{{#newline}}
//      If your code calls any of these, put the raw SQL behind your own interface and fake that interface{{#newline}}
//      instead, or write an integration test against a real (or in-memory provider) database.{{#newline}}
public class FakeDatabaseFacade : DatabaseFacade, IDatabaseFacadeDependenciesAccessor, IInfrastructure<IServiceProvider>{{#newline}}
{{{#newline}}
    private IDbContextTransaction? _currentTransaction;{{#newline}}{{#newline}}

    // Pass a FakeDbContextShim here, never a real DbContext.{{#newline}}
    public FakeDatabaseFacade(DbContext context) : base(context){{#newline}}
    {{{#newline}}
    }{{#newline}}{{#newline}}

    private static NotSupportedException NotSupported(){{#newline}}
    {{{#newline}}
        return new NotSupportedException({{#newline}}
            "This is a Fake DbContext, so relational Database operations are not supported. That includes " +{{#newline}}
            "ExecuteSqlRaw(), ExecuteSqlInterpolated(), SqlQueryRaw(), GetDbConnection(), OpenConnection(), " +{{#newline}}
            "UseTransaction(), BeginTransaction(IsolationLevel), GetCommandTimeout(), SetCommandTimeout(), " +{{#newline}}
            "IsRelational() and Migrate(). They are extension methods on DatabaseFacade rather than virtual " +{{#newline}}
            "members, so the fake cannot intercept them and would otherwise run against your real database. " +{{#newline}}
            "Use the parameterless BeginTransaction(), or put the raw SQL behind your own interface and fake " +{{#newline}}
            "that interface instead, or write an integration test against a real database.");{{#newline}}
    }{{#newline}}{{#newline}}

    IDatabaseFacadeDependencies IDatabaseFacadeDependenciesAccessor.Dependencies{{#newline}}
    {{{#newline}}
        get { throw NotSupported(); }{{#newline}}
    }{{#newline}}{{#newline}}

    IServiceProvider IInfrastructure<IServiceProvider>.Instance{{#newline}}
    {{{#newline}}
        get { throw NotSupported(); }{{#newline}}
    }{{#newline}}{{#newline}}

    // IsRelational() and GetService<T>() reach the database through this rather than through Dependencies: they{{#newline}}
    // ask this DbContext for its service provider. Handing out the shim would be safe, but it would surface the{{#newline}}
    // shim's "No database provider has been configured" error, which tells the reader nothing about why their{{#newline}}
    // fake behaved that way. Throwing explains it instead.{{#newline}}
    DbContext IDatabaseFacadeDependenciesAccessor.Context{{#newline}}
    {{{#newline}}
        get { throw NotSupported(); }{{#newline}}
    }{{#newline}}{{#newline}}

    // Reported so that IsSqlServer()/IsNpgsql()/IsSqlite() and similar provider checks still branch correctly.{{#newline}}
    // Null when the database type has no EF Core provider, or when a reader plugin makes it unknowable, in which{{#newline}}
    // case every IsXxx() check answers false rather than claiming to be a provider you are not using.{{#newline}}
    public override string? ProviderName{{#newline}}
    {{{#newline}}
        get { return {{DatabaseProviderNameLiteral}}; }{{#newline}}
    }{{#newline}}{{#newline}}

    public override IDbContextTransaction? CurrentTransaction{{#newline}}
    {{{#newline}}
        get { return _currentTransaction; }{{#newline}}
    }{{#newline}}{{#newline}}

    // Called by FakeDbContextTransaction when it is committed, rolled back or disposed. The reference check{{#newline}}
    // matters: a stale transaction being disposed must not clear a newer one that has since begun.{{#newline}}
    internal void ClearTransaction(IDbContextTransaction transaction){{#newline}}
    {{{#newline}}
        if (ReferenceEquals(_currentTransaction, transaction)){{#newline}}
            _currentTransaction = null;{{#newline}}
    }{{#newline}}{{#newline}}

    public override bool EnsureCreated(){{#newline}}
    {{{#newline}}
        return true;{{#newline}}
    }{{#newline}}{{#newline}}

    public override Task<bool> EnsureCreatedAsync(CancellationToken cancellationToken = new CancellationToken()){{#newline}}
    {{{#newline}}
        if (cancellationToken.IsCancellationRequested){{#newline}}
            return Task.FromCanceled<bool>(cancellationToken);{{#newline}}
{{#newline}}
        return Task.FromResult(EnsureCreated());{{#newline}}
    }{{#newline}}{{#newline}}

    public override bool EnsureDeleted(){{#newline}}
    {{{#newline}}
        return true;{{#newline}}
    }{{#newline}}{{#newline}}

    public override Task<bool> EnsureDeletedAsync(CancellationToken cancellationToken = new CancellationToken()){{#newline}}
    {{{#newline}}
        if (cancellationToken.IsCancellationRequested){{#newline}}
            return Task.FromCanceled<bool>(cancellationToken);{{#newline}}
{{#newline}}
        return Task.FromResult(EnsureDeleted());{{#newline}}
    }{{#newline}}{{#newline}}

    public override bool CanConnect(){{#newline}}
    {{{#newline}}
        return true;{{#newline}}
    }{{#newline}}{{#newline}}

    public override Task<bool> CanConnectAsync(CancellationToken cancellationToken = new CancellationToken()){{#newline}}
    {{{#newline}}
        if (cancellationToken.IsCancellationRequested){{#newline}}
            return Task.FromCanceled<bool>(cancellationToken);{{#newline}}
{{#newline}}
        return Task.FromResult(CanConnect());{{#newline}}
    }{{#newline}}{{#newline}}

    // EF Core does not support nested transactions, and a real provider throws here rather than quietly{{#newline}}
    // replacing the active one. The fake does the same, so a test cannot pass on something that would fail{{#newline}}
    // against your database.{{#newline}}
    public override IDbContextTransaction BeginTransaction(){{#newline}}
    {{{#newline}}
        if (_currentTransaction != null){{#newline}}
            throw new InvalidOperationException({{#newline}}
                "The Fake DbContext is already in a transaction. EF Core does not support nested transactions, " +{{#newline}}
                "so commit, roll back or dispose the current transaction before beginning another.");{{#newline}}
{{#newline}}
        _currentTransaction = new FakeDbContextTransaction(this);{{#newline}}
        return _currentTransaction;{{#newline}}
    }{{#newline}}{{#newline}}

    public override Task<IDbContextTransaction> BeginTransactionAsync(CancellationToken cancellationToken = new CancellationToken()){{#newline}}
    {{{#newline}}
        if (cancellationToken.IsCancellationRequested){{#newline}}
            return Task.FromCanceled<IDbContextTransaction>(cancellationToken);{{#newline}}
{{#newline}}
        return Task.FromResult(BeginTransaction());{{#newline}}
    }{{#newline}}{{#newline}}

    // Routed through the transaction rather than nulling the field directly, so that committing via{{#newline}}
    // Database.CommitTransaction() and committing via the transaction object end up in the same place.{{#newline}}
    public override void CommitTransaction(){{#newline}}
    {{{#newline}}
        var transaction = _currentTransaction;{{#newline}}
        if (transaction != null){{#newline}}
            transaction.Commit();{{#newline}}
    }{{#newline}}{{#newline}}

    public override Task CommitTransactionAsync(CancellationToken cancellationToken = new CancellationToken()){{#newline}}
    {{{#newline}}
        if (cancellationToken.IsCancellationRequested){{#newline}}
            return Task.FromCanceled(cancellationToken);{{#newline}}
{{#newline}}
        CommitTransaction();{{#newline}}
        return Task.CompletedTask;{{#newline}}
    }{{#newline}}{{#newline}}

    public override void RollbackTransaction(){{#newline}}
    {{{#newline}}
        var transaction = _currentTransaction;{{#newline}}
        if (transaction != null){{#newline}}
            transaction.Rollback();{{#newline}}
    }{{#newline}}{{#newline}}

    public override Task RollbackTransactionAsync(CancellationToken cancellationToken = new CancellationToken()){{#newline}}
    {{{#newline}}
        if (cancellationToken.IsCancellationRequested){{#newline}}
            return Task.FromCanceled(cancellationToken);{{#newline}}
{{#newline}}
        RollbackTransaction();{{#newline}}
        return Task.CompletedTask;{{#newline}}
    }{{#newline}}{{#newline}}

    public override IExecutionStrategy CreateExecutionStrategy(){{#newline}}
    {{{#newline}}
        return new FakeExecutionStrategy();{{#newline}}
    }{{#newline}}{{#newline}}

    public override string ToString(){{#newline}}
    {{{#newline}}
        return string.Empty;{{#newline}}
    }{{#newline}}
}{{#newline}}{{#newline}}

// Runs the operation once, without retrying. This lets code written around{{#newline}}
// Database.CreateExecutionStrategy().Execute(...) run under the fake.{{#newline}}
// Note: the DbContext passed to the operation is null, as the fake is not a real DbContext. Overloads that{{#newline}}
// ignore it (the common strategy.Execute(() => ...) form) work; overloads that use it will not.{{#newline}}
public class FakeExecutionStrategy : IExecutionStrategy{{#newline}}
{{{#newline}}
    public bool RetriesOnFailure { get { return false; } }{{#newline}}{{#newline}}

    public TResult Execute<TState, TResult>({{#newline}}
        TState state,{{#newline}}
        Func<DbContext, TState, TResult> operation,{{#newline}}
        Func<DbContext, TState, ExecutionResult<TResult>>? verifySucceeded){{#newline}}
    {{{#newline}}
        return operation(null!, state);{{#newline}}
    }{{#newline}}{{#newline}}

    public Task<TResult> ExecuteAsync<TState, TResult>({{#newline}}
        TState state,{{#newline}}
        Func<DbContext, TState, CancellationToken, Task<TResult>> operation,{{#newline}}
        Func<DbContext, TState, CancellationToken, Task<ExecutionResult<TResult>>>? verifySucceeded,{{#newline}}
        CancellationToken cancellationToken = new CancellationToken()){{#newline}}
    {{{#newline}}
        return operation(null!, state, cancellationToken);{{#newline}}
    }{{#newline}}
}{{#newline}}{{#newline}}

// Committing, rolling back or disposing clears Database.CurrentTransaction, matching real EF Core. A{{#newline}}
// transaction constructed directly rather than by Database.BeginTransaction() has no facade to tell, and so{{#newline}}
// just tracks its own state.{{#newline}}
public class FakeDbContextTransaction : IDbContextTransaction{{#newline}}
{{{#newline}}
    private readonly FakeDatabaseFacade? _database;{{#newline}}{{#newline}}

    public FakeDbContextTransaction(){{#newline}}
    {{{#newline}}
    }{{#newline}}{{#newline}}

    public FakeDbContextTransaction(FakeDatabaseFacade database){{#newline}}
    {{{#newline}}
        _database = database;{{#newline}}
    }{{#newline}}{{#newline}}

    public Guid TransactionId { get; } = Guid.NewGuid();{{#newline}}{{#newline}}

    public void Commit(){{#newline}}
    {{{#newline}}
        Clear();{{#newline}}
    }{{#newline}}{{#newline}}

    public void Rollback(){{#newline}}
    {{{#newline}}
        Clear();{{#newline}}
    }{{#newline}}{{#newline}}

    public Task CommitAsync(CancellationToken cancellationToken = new CancellationToken()){{#newline}}
    {{{#newline}}
        if (cancellationToken.IsCancellationRequested){{#newline}}
            return Task.FromCanceled(cancellationToken);{{#newline}}
{{#newline}}
        Commit();{{#newline}}
        return Task.CompletedTask;{{#newline}}
    }{{#newline}}{{#newline}}

    public Task RollbackAsync(CancellationToken cancellationToken = new CancellationToken()){{#newline}}
    {{{#newline}}
        if (cancellationToken.IsCancellationRequested){{#newline}}
            return Task.FromCanceled(cancellationToken);{{#newline}}
{{#newline}}
        Rollback();{{#newline}}
        return Task.CompletedTask;{{#newline}}
    }{{#newline}}{{#newline}}

    public void Dispose(){{#newline}}
    {{{#newline}}
        Clear();{{#newline}}
    }{{#newline}}{{#newline}}

    public ValueTask DisposeAsync(){{#newline}}
    {{{#newline}}
        Dispose();{{#newline}}
        return default;{{#newline}}
    }{{#newline}}{{#newline}}

    private void Clear(){{#newline}}
    {{{#newline}}
        if (_database != null){{#newline}}
            _database.ClearTransaction(this);{{#newline}}
    }{{#newline}}
}