<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.2.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net45" />
  <package id="EF6.Contrib" version="1.0.5" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
</packages>