{{#each EnumAttributes}}
{{this}}{{#newline}}
{{/each}}
public enum {{EnumName}}{{#newline}}
{{{
#newline}}
{{#each Items}}
    {{#each Attributes}}
        {{this}}{{#newline}}
    {{/each}}
    {{Key}} = {{Value}},{{#newline}}
{{/each}}
}{{#newline}}
